/* Fonts */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/opensans.woff2) format('woff2');
}

/* Body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header stuff start */

/* Header */
.header {
    padding: 1em 2em;
    background: hsl(0, 0%, 100%);
}

/* Header stuff end */

/* Footer stuff start */

/* Footer */
.footer {
    background: hsl(240, 11%, 98%);
    box-shadow: 0 0.1rem 0 0 hsl(225, 5%, 85%), 0 0 0 0.1rem hsl(228, 10%, 90%);
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: hsl(240, 12%, 27%);
}

/* Footer info column */
.footer-info-column {
    
}

/* Footer info text block */
.footer-info-block {
    line-height: 1.2rem;
    display: block;
    margin-top: 1rem;
    max-width: 16rem;
}

/* Footer useful column */
.footer-useful-column {
    margin-left: 7rem;
    width: 8rem;
}

/* Footer developers column */
.footer-developers-column {
    margin-left: 7rem;
    width: 8rem;
}

/* Footer friends column */
.footer-friends-column {
    margin-left: 7rem;
    width: 8rem;
}

/* Footer partners column */
.footer-partners-column {
    margin-left: 7rem;
    width: 8rem;
}

/* Footer columns top texts */
.footer-column-header {
    font-weight: bold;
    color: hsl(243, 48%, 9%);
}

/* Footer text block */
.footer-block {
    line-height: 1.2rem;
    display: block;
    margin-top: 1rem;
}

/* Footer site logo */
.footer-site-logo {
    height: 25px;
}

/* Footer icon gapped flex*/
.footer-icons-gapped-flex {
    column-gap: 0.5rem;
}

/* Footer stuff end */

/* Version info */
.version-info {
    color: hsl(240, 12%, 27%);
    background-color: hsl(240, 11%, 98%);
    font-size: 0.8rem;
    text-align: center;
}

/* Loading symbol */
.loading-symbol {
    text-align: center;
}

/* Loading symbol image */
.loading-symbol-image {
    width: 1.0rem;
    height: 1.0rem;
}

/* Horizontal flex */
.horizontal-flex {
    display: flex;
    flex-direction: row;
}

/* Flex (centered) */
.flex-center {
    justify-content: center;
}

/* Flex - space between */
.flex-space-between
{
    justify-content: space-between;
}

/* Flex - cross axis central align */
.flex-cross-center {
    align-items: center;
}

/* Telegram group logo */
.telegram-group-logo {
    width: 20px;
    height: 20px;
}

/* Bold text */
.bold {
    font-weight: bold;
}

/* Remove text decoration */
.remove-text-decoration {
    text-decoration: none;
}

/* Convert element into inline-block */
.inline-block {
    display: inline-block;
}

/* Vertical alignment - center */
.vertical-align-center {
    vertical-align: middle;
}

/* Vertical alignment - text-bottom */
.vertical-align-text-bottom {
    vertical-align: text-bottom;
}

/* Dark-colored text */
.dark-text {
    color: hsl(243, 48%, 9%);
}

/* Menu stuff starts here */

/* Central menu item */
.central-menu-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
}

/* Central menu item (hovered) */
.central-menu-link:hover {
    border-bottom: 2px solid #427fed;
}

/* Central menu item without hoverability */
.central-menu-link-nohover {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
}

/* Right menu user avatar */
.right-menu-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    vertical-align: middle;
}

/* Right menu item */
.right-menu-item {
    display: inline-block;
    vertical-align: middle;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

/* Right menu item - no image */
.right-menu-item.right-menu-item-no-image {
    vertical-align: text-bottom;
}

/* Menu stuff ends here */
