/* Fonts */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/opensans.woff2) format('woff2');
}

/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(220, 9%, 94%);
}

/* Body container */
.body-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Header stuff start */

/* Header */
.header {
    padding: 1rem 2rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0.1rem 0 0 hsl(225, 5%, 85%),0 0 0 0.1rem hsl(228, 10%, 90%);
}

/* Container with header content */
.header-container {
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 10rem;
    row-gap: 2rem;
}

/* Header stuff end */

/* Footer stuff start */

/* Footer */
.footer {
    background: hsl(240, 11%, 98%);
    box-shadow: 0 0.1rem 0 0 hsl(225, 5%, 85%), 0 0 0 0.1rem hsl(228, 10%, 90%);
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: hsl(240, 12%, 27%);
}

/* Footer container */
.footer-container {
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 2rem;
}

/* Footer info column */
.footer-info-column {
    
}

/* Footer info text block */
.footer-info-block {
    line-height: 1.2rem;
    display: block;
    margin-top: 1rem;
    max-width: 16rem;
}

/* Footer useful column */
.footer-useful-column {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Footer developers column */
.footer-developers-column {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Footer friends column */
.footer-friends-column {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Footer partners column */
.footer-partners-column {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Footer columns top texts */
.footer-column-header {
    font-weight: bold;
    color: hsl(243, 48%, 9%);
}

/* Footer text block */
.footer-block {
    line-height: 1.2rem;
    display: block;
    margin-top: 1rem;
}

/* Footer site logo */
.footer-site-logo {
    height: 2rem;
}

/* Footer icon gapped flex*/
.footer-icons-gapped-flex {
    column-gap: 0.5rem;
}

/* Footer stuff ends here */

/* Version info */
.version-info {
    color: hsl(240, 12%, 27%);
    background-color: hsl(240, 11%, 98%);
    font-size: 0.8rem;
    text-align: center;
}

/* Sources link */
.sources-link {
    color: hsl(240, 12%, 27%);
    background-color: hsl(240, 11%, 98%);
    font-size: 0.8rem;
    text-align: center;
}

/* Centered text */
.centered {
    text-align: center;
}

/* Loading symbol */
.loading-symbol {
    text-align: center;
}

/* Loading symbol image */
.loading-symbol-image {
    width: 1.0rem;
    height: 1.0rem;
}

/* Horizontal flex */
.horizontal-flex {
    display: flex;
    flex-direction: row;
}

/* Vertical flex */
.vertical-flex {
    display: flex;
    flex-direction: column;
}

/* Flex (centered) */
.flex-center {
    justify-content: center;
}

/* Flex - space between */
.flex-space-between
{
    justify-content: space-between;
}

/* Flex - cross axis central align */
.flex-cross-center {
    align-items: center;
}

/* Telegram group logo */
.telegram-group-logo {
    width: 1.5rem;
    height: 1.5rem;
}

/* Bold text */
.bold {
    font-weight: bold;
}

/* Remove text decoration */
.remove-text-decoration {
    text-decoration: none;
}

/* Convert element into inline-block */
.inline-block {
    display: inline-block;
}

/* Vertical alignment - center */
.vertical-align-center {
    vertical-align: middle;
}

/* Vertical alignment - text-bottom */
.vertical-align-text-bottom {
    vertical-align: text-bottom;
}

/* Dark-colored text */
.dark-text {
    color: hsl(243, 48%, 9%);
}

/* Menu stuff starts here */

/* Central menu item */
.central-menu-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    border-bottom: 0.2rem solid hsla(219, 83%, 59%, 0); /* To avoid shift up on hover */
}

/* Central menu item (hovered) */
.central-menu-link:hover {
    border-bottom: 0.2rem solid hsl(219, 83%, 59%);
}

/* Central menu item without hoverability */
.central-menu-link-nohover {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
}

/* Right menu user avatar */
.right-menu-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    vertical-align: middle;
}

/* Right menu item */
.right-menu-item {
    display: inline-block;
    vertical-align: middle;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

/* Right menu item - no image */
.right-menu-item.right-menu-item-no-image {
    vertical-align: text-bottom;
}

/* Menu stuff ends here */

/* Top button */
.top-button {
    display: inline-block;
    border: 0.2rem solid hsl(36, 100%, 84%);
    border-radius: 3rem;
    text-decoration: none;
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: hsl(0, 0%, 0%);
}

/* Top button with small text */
.top-button.top-button-with-small-text {
    padding-bottom: 0;
}

/* Howered top button */
.top-button:hover {
    background-color: hsl(36, 100%, 84%);
}

/* Optional small text on top button */
.top-button-small-text {
    font-size: 0.7rem;
    color: hsl(0, 0%, 36%);
}

/* Container for top buttons */
.top-buttons-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Search stuff starts here */

/* Search as a whole */
.search {
    background-color: hsl(199, 74%, 79%);
    border: 0.1rem solid hsl(195, 56%, 62%);
    border-radius: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Search controls live here*/
.search-container {
    gap: 0.5rem;
}

/* Search text is being entered here */
.search-text-area {
    flex: 99%;
    font-size: inherit;
    border: 0.1rem solid hsl(195, 56%, 62%);
    border-radius: 0.2rem;
}

/* Search button */
.search-button {
    flex: 1%;
    font-size: inherit;
    border: 0.1rem solid hsl(195, 56%, 62%);
    border-radius: 0.2rem;
}

/* Search stuff ends here */

/* Texts statistics starts here */

/* Statistics as a whole */
.texts-statistics {
    background-color: hsl(0, 0%, 100%);
    border: 0.1rem solid hsl(225, 5%, 85%);
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

/* Total amount of texts */
.texts-statistics-total-texts {
    color: hsl(0, 100%, 30%);
}

/* Texts statistics ends here */

/* Logo and texts container */
.logo-and-texts-container {
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 2rem;
}

/* Main logo container */
.main-logo-container {
    display: flex;
    align-items: center;
}

/* Class for main logo iamge */
.main-logo-image {
    width: 35rem;
    max-width: 90vw;
}

/* Texts short info stuff starts here */

/* Text short infos are live here */
.texts-short-info-blocks-container {
    flex: auto;
}

/* Text short info block */
.text-short-info-block {
    background-color: hsl(87, 89%, 93%);
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.1rem solid hsl(87, 89%, 80%);
    border-radius: 0.2rem;
}

/* Text from contest */
.text-short-info-block.text-short-info-block-contest {
    border: 0.25rem solid hsl(63, 99%, 47%);
}

/* Snuff text */
.text-short-info-block.text-short-info-block-snuff {
    border: 0.25rem solid hsl(1, 74%, 88%);
}

/* Poor-quality text */
.text-short-info-block.text-short-info-block-sandbox {
    border: 0.25rem solid hsl(0, 0%, 78%);
}

/* Text short info title line */
.text-short-info-block-title-line {
    font-size: 1.1rem;
}

/* Text short info - author link */
.text-short-info-author-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.text-short-info-author-link:hover {
    text-decoration: underline;
}

/* Text short info - text link */
.text-short-info-text-link {
    color: hsl(17, 36%, 24%);
    text-decoration: none;
}

.text-short-info-text-link:hover {
    text-decoration: underline;
}

/* Text short info - statistics line */
.text-short-info-block-statistics-line {
    font-size: 0.9rem;
}

/* Images in statistics line*/
.text-short-info-block-statistics-line-images {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

/* Comments link (for case when there are comments) */
.text-short-info-block-comments-link {
    color: hsl(0, 0%, 0%);
}

/* Votes for text */
.text-short-info-block-votes-for {
    color: hsl(120, 100%, 25%);
}

/* Text short info - type and tags line */
.text-short-info-block-type-and-tags-line {
    font-size: 0.9rem;
}

/* Text type link */
.text-short-info-block-text-type-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.text-short-info-block-text-type-link:hover
{
    text-decoration: underline;
}

/* Texts short info ends here */

/* Link in small tag */
.small-tag-link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.small-tag-link:hover {
    text-decoration: underline;
}

/* Text icon (small) */
.small-text-icon {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

/* Container with short texts infos starts here */

/* Arrows in container with short texts infos */
.texts-short-infos-container-arrows-buttons {
    border: 0.2rem solid hsl(225, 100%, 80%);
    border-radius: 1rem;
    background: hsl(36, 100%, 84%);
    width: 3rem;
}

.texts-short-infos-container-arrows-buttons:hover {
    background: hsl(36, 100%, 60%);
    border: 0.2rem solid hsl(225, 100%, 35%);
}

/* Icons on arrows buttons*/
.texts-short-infos-container-arrows-buttons-images {
    width: 1rem;
}

/* Container with short texts infos ends here */